target/
Cargo.lock
.DS_Store
.vscode/
*.code-workspace
*.db
.cargo
.claude/settings.local.json
node_modules
.turbo
dist
mprocs.log

# PodNet specific
*.secret
content
identity-server-keypair.json
*-keypair.json

# User-specific configuration files
user.toml
apps/client/src-tauri/config/user.toml
